<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/login_app.css' %}" media="screen"/>
    <title>Change Password Page</title>
</head>
<body>
<div class="box">
    <h1>Change password</h1>

    <hr/>

    <form action="{% url 'login_app:change_password' %}" method="POST">
        {% csrf_token %}

        <input type="password" name="old_pass" placeholder="old password" /><br><br>
        <input type="password" name="new_pass1" placeholder="New password" /><br><br>
        <input type="password" name="new_pass2" placeholder="Re-enter password" /><br><br>
        <button type="submit">Change password</button>
    </form>

  
    <hr/>

    {% if error %}
        {{ error }}
    {% endif %}

     <a href="{% url 'login_app:login' %}"> <button> Return to Login-page </button></a> <br><br>
     <a href="{% url 'library_app:index' %}"> <button> Return to Profile</button></a> <br><br>
</div>
</body>
</html>